.settings {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #fff;
  transform: translate(-50%, -50%);
  z-index: 1000;
  padding: 0 10px;
  width: 40%;
  height: 70vh;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 30px 0;
  border: 1px solid #fff;
  &__img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid white;
    z-index: 1000;
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    z-index: 999;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 30px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }
  }
  &__images {
    &-wrapper {
      input {
        display: none;
      }
      label {
        display: flex;
        align-items: center;
        cursor: pointer;
        svg {
          margin-right: 10px;
          &.svg_rotate {
            animation: lds-dual-ring 1.2s linear infinite;
          }
        }
      }
    }
  }
  &__container {
    margin: 0 auto;
    width: 70%;
    div {
      margin: 10px 0;
      input {
        width: 70%;
        border: none;
        outline: none;
        text-transform: capitalize;
      }
    }
  }
  &__btns {
    display: flex;
    button, div {
      margin: 0 10px;
      border: none;
      padding: 7px;
      border-radius: 5px;
      background-color: rgb(128, 17, 44);
      font-weight: 500;
      margin-right: 20px;
      cursor: pointer;
      color: white;
      &.settings__btns-save {
        background-color: green;
      }
      &:disabled {
        opacity: 0.65;
        cursor: not-allowed;
      }
    }
  }
  select {
    border: 1px solid black;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  }
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}