.auth {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f2f5;
    &__content {
      width: fit-content;
      padding-right: 10px;
      &-title {
        font-size: 50px;
        font-weight: 800;
        color: #1775ee;
        margin-bottom: 10px;
      }
      span {
        font-size: 24px;
      }
    }
    &__wrapper {
      height: 400px;
      width: 540px;
      padding: 20px;
      background-color: white;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      &-password {
        text-align: center;
        color: #1775ee;
      }
      &-create {
        width: 60%;
        height: 50px;
        border-radius: 10px;
        border: none;
        background-color: #42b72a;
        color: white;
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
        text-align: center;
        line-height: 50px;
        text-decoration: none;
      }
    }
    &__form {
      width: 100%;
      height: 60%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      input {
        height: 50px;
        border-radius: 10px;
        border: 1px solid gray;
        font-size: 18px;
        padding-left: 20px;
        margin: 5px 0;
      }
      button {
        height: 50px;
        border-radius: 10px;
        border: none;
        background-color: #1775ee;
        color: white;
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
        &:disabled {
          opacity: 0.65;
          cursor: not-allowed;
        }
      }
    }
  }
  
  .errorMessage {
    color: red;
    padding: 4px;
    font-size: 14px;
  }
  