.sidebar {
  height: calc(100vh - 50px);
  overflow-y: scroll;
  position: sticky;
  top: 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 3;
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      svg {
        width: 1em;
        height: 1em;
        margin-right: 15px;
        font-size: 1.5rem;
      }
    }
    &-link {
      text-decoration: none;
      color: black;
    }
  }
  &__btn, &__link {
    width: 150px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
  }
  &__link {
    background-color: #1877f2;
    color: #fff;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    text-decoration: none;
  }
  hr {
    margin: 20px 0;
  }
}

.statusMessage {
  text-align: center;
  padding: 40px 0;
  &_left {
    text-align: left;
  }
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}
